{
  "all": true,
  "lines": 70,
  "check-coverage": true,
  "include": [
    "src/**/*.(js|jsx)"
  ],
  "extension": [
    ".jsx"
  ],
  "reporter": [
    "lcov",
    "text"
  ],
  "require": [
    "babel-register"
  ],
  "sourceMap": false,
  "instrument": false
}
