.goodtables-vue-report {
  color: #333;
  font-family: monospace;
  letter-spacing: -0.5px;
}

.goodtables-vue-report table {
  border: 2px solid #5cb85c;
  border-radius: 3px;
  background-color: #fff;
}

.goodtables-vue-report table.error {
  border: 2px solid #d9534f;
}

.goodtables-vue-report table.summary {
  width: 10em;
}

.goodtables-vue-report table.values {
  min-width: 50em;
}

.goodtables-vue-report th {
  background-color: #5cb85c;
  color: #eee;
}

.goodtables-vue-report table.error th {
  background-color: #d9534f;
  color: #eee;
}

.goodtables-vue-report td {
  background-color: #f9f9f9;
}

.goodtables-vue-report th,
.goodtables-vue-report td {
  padding: 10px 20px;
  height: 1em;
}

.goodtables-vue-report th.active {
  color: #fff;
}

.goodtables-vue-report table.values td {
  cursor: pointer;
}

.goodtables-vue-report td.error {
  background-color: #d9534f;
  color: #fff;
}

.goodtables-vue-report td.row-number {
  text-align: center;
  padding: 10px 5px;
  background-color: #f0ad4e;
  color: #fff;
}

.goodtables-vue-report td.errors {
  padding: 10px 5px;
  background-color: #eee;
  color: #777;
}

.goodtables-vue-report h2 {
  margin-bottom: 10px;
}

.goodtables-vue-report h3 {
  display: inline-block;
  color: #5cb85c;
  margin: 10px 0;
}

.goodtables-vue-report h3.error {
  color: #d9534f;
  cursor: pointer;
}

.goodtables-vue-report h3.error:hover {
  text-decoration: underline;
}

.goodtables-vue-report input {
  display: none;
}

.goodtables-vue-report label {
  width: 10em;
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #bbb;
  border: 1px solid transparent;
}

.goodtables-vue-report label:hover {
  color: #888;
  cursor: pointer;
}

.goodtables-vue-report input:checked + label {
  color: #333;
  border: 1px solid #d9534f;
  border-top: 2px solid #d9534f;
  border-bottom: 1px solid #fff;
}

.goodtables-vue-report p.help {
  padding-left: 15px;
  font-style: italic;
  color: #888;
}
